<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>幸运飞艇</title>

		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
		<meta name="telephone=no" content="format-detection">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no" />

		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="0">

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/lib.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	</head>

	<body>
		<div class="tab-content">
			<div class="tab-box dh" data-img='0' style="height: 274px;background-color: #ccc;"></div>
			<div class="tab-box wz" data-img='1'>
				<table border="" cellspacing="" cellpadding="">
					<thead>
						<tr>
							<th>期号</th>
							<th>开奖时间</th>
							<th>开奖号码</th>
							<th>特码</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>509611</td>
							<td>2017-1-7<br />15:22:00</td>
							<td class="ft-sz-0">
								<span class="shuzi shuzi_1">1</span>
								<span class="shuzi shuzi_2">2</span>
								<span class="shuzi shuzi_3">3</span>
								<span class="shuzi shuzi_4">4</span>
								<span class="shuzi shuzi_5">5</span>
								<span class="shuzi shuzi_6">6</span>
								<span class="shuzi shuzi_7">7</span>
								<span class="shuzi shuzi_8">8</span>
								<span class="shuzi shuzi_9">9</span>
								<span class="shuzi shuzi_10">10</span>
								<br />
								<strong class="longhu cl-red">龙</strong>
								<strong class="longhu cl-blue2">龙</strong>
								<strong class="longhu cl-red">虎</strong>
								<strong class="longhu cl-blue2">虎</strong>
								<strong class="longhu cl-blue2">龙</strong>
							</td>
							<td class="txt-al-c ft-sz-0">
								<span class="tm">9</span>
								<span class="tm cl-blue2">小</span>
								<span class="tm cl-red">单</span><br />
								<span class="tm cl-blue2">庄</span>
								<span class="tm">B</span>
							</td>
						</tr>
						<tr>
							<td>509611</td>
							<td>2017-1-7<br />15:22:00</td>
							<td class="ft-sz-0">
								<span class="shuzi shuzi_1">1</span>
								<span class="shuzi shuzi_2">2</span>
								<span class="shuzi shuzi_3">3</span>
								<span class="shuzi shuzi_4">4</span>
								<span class="shuzi shuzi_5">5</span>
								<span class="shuzi shuzi_6">6</span>
								<span class="shuzi shuzi_7">7</span>
								<span class="shuzi shuzi_8">8</span>
								<span class="shuzi shuzi_9">9</span>
								<span class="shuzi shuzi_10">10</span>
								<br />
								<strong class="longhu cl-red">龙</strong>
								<strong class="longhu cl-blue2">龙</strong>
								<strong class="longhu cl-red">虎</strong>
								<strong class="longhu cl-blue2">虎</strong>
								<strong class="longhu cl-blue2">龙</strong>
							</td>
							<td class="txt-al-c ft-sz-0">
								<span class="tm">9</span>
								<span class="tm cl-blue2">小</span>
								<span class="tm cl-red">单</span><br />
								<span class="tm cl-blue2">庄</span>
								<span class="tm">B</span>
							</td>
						</tr>
						<tr>
							<td>509611</td>
							<td>2017-1-7<br />15:22:00</td>
							<td class="ft-sz-0">
								<span class="shuzi shuzi_1">1</span>
								<span class="shuzi shuzi_2">2</span>
								<span class="shuzi shuzi_3">3</span>
								<span class="shuzi shuzi_4">4</span>
								<span class="shuzi shuzi_5">5</span>
								<span class="shuzi shuzi_6">6</span>
								<span class="shuzi shuzi_7">7</span>
								<span class="shuzi shuzi_8">8</span>
								<span class="shuzi shuzi_9">9</span>
								<span class="shuzi shuzi_10">10</span>
								<br />
								<strong class="longhu cl-red">龙</strong>
								<strong class="longhu cl-blue2">龙</strong>
								<strong class="longhu cl-red">虎</strong>
								<strong class="longhu cl-blue2">虎</strong>
								<strong class="longhu cl-blue2">龙</strong>
							</td>
							<td class="txt-al-c ft-sz-0">
								<span class="tm">9</span>
								<span class="tm cl-blue2">小</span>
								<span class="tm cl-red">单</span><br />
								<span class="tm cl-blue2">庄</span>
								<span class="tm">B</span>
							</td>
						</tr>
						<tr>
							<td>509611</td>
							<td>2017-1-7<br />15:22:00</td>
							<td class="ft-sz-0">
								<span class="shuzi shuzi_1">1</span>
								<span class="shuzi shuzi_2">2</span>
								<span class="shuzi shuzi_3">3</span>
								<span class="shuzi shuzi_4">4</span>
								<span class="shuzi shuzi_5">5</span>
								<span class="shuzi shuzi_6">6</span>
								<span class="shuzi shuzi_7">7</span>
								<span class="shuzi shuzi_8">8</span>
								<span class="shuzi shuzi_9">9</span>
								<span class="shuzi shuzi_10">10</span>
								<br />
								<strong class="longhu cl-red">龙</strong>
								<strong class="longhu cl-blue2">龙</strong>
								<strong class="longhu cl-red">虎</strong>
								<strong class="longhu cl-blue2">虎</strong>
								<strong class="longhu cl-blue2">龙</strong>
							</td>
							<td class="txt-al-c ft-sz-0">
								<span class="tm">9</span>
								<span class="tm cl-blue2">小</span>
								<span class="tm cl-red">单</span><br />
								<span class="tm cl-blue2">庄</span>
								<span class="tm">B</span>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>

		</div>
		<div class="main-box">
			<!--第二行-->
			<div class="leftRight">
				<div class="nav">
					<div class="portrait no"><img src="__PUBLIC__/Home/img/kefu.jpg" /></div>
					<a href="{:U('Home/Circle/kefu')}" class="portrait active" target="myIframe" data-height='200'><img src="__PUBLIC__/Home/img/0.png" /></a>
					<a href="{:U('Home/Circle/jincai')}" class="portrait" target="myIframe" data-height='120'><img src="__PUBLIC__/Home/img/1.png" /></a>
					<a href="{:U('Home/Circle/record')}" class="portrait" target="myIframe" data-height='130'><img src="__PUBLIC__/Home/img/2.png" /></a>
					<div class="portrait tab-bt" data-bt="0"><img src="__PUBLIC__/Home/img/7_01.png" /></div>
					<div class="portrait tab-bt" data-bt="1"><img src="__PUBLIC__/Home/img/4.png" /></div>
					<a href="" class="portrait shuax" target="myIframe"><img src="__PUBLIC__/Home/img/5.png" /></a>
					<a href="{:U('Home/Circle/rule')}" class="portrait" target="myIframe" data-height='820'><img src="__PUBLIC__/Home/img/6.png" /></a>
					<!--<a href="" class="portrait" target="myIframe"><img src="__PUBLIC__/Home/img/7.png"/></a>-->
				</div>
				<div class="content">
					<!--第一行（表单、积分在线人数）-->
					<!--<div class="top">
						<input type="text" required/>
						<button>发送</button>
						<div class="info">
							<p>剩余点数：0点</p>
							<p>线上人数：189人</p>
						</div>
					</div>-->
					<!--iframe-->
					<div class="iframewp">
						<iframe id="myIframe" name="myIframe"></iframe>
					</div>
				</div>
			</div>
		</div>

		<script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
		<script type="text/javascript">
			$(function() {
				/*------- 声明对象、参数 -----------*/
				var wp = $('.main-box .leftRight'),
					nav = wp.children('.nav'),
					navli = nav.children('a'),
					con = wp.children('.content'),
					iframe = wp.find('.iframewp');
				var num_hei = 0,
					h = 100;
				/*绑定事件*/
				navli.removeClass('active');
				navli.on('click',function(e){
					var _=$(this);
					if(_.hasClass('active')&&!_.hasClass('shuax')){
						if ( e && e.preventDefault ) {
				        	e.preventDefault(); 
					   	}else{
					    	//IE中阻止函数器默认动作的方式 
					        window.event.returnValue = false; 
					    	return false;
					   	}
					}else{
						navli.removeClass('active').filter(_).addClass('active');
						h=get_dataHei(_);
						alertHei();
//						navli.filter('.shuax').attr('href',_.attr('href'));
//						navli.filter('.shuax').attr('data-height',_.attr('data-height'));	
					}
				});
				$('.shuax').on('click',function(e){
					$('#myIframe')[0].contentWindow.location.reload(true);
				})
				/*初始化*/
				//navli.filter('.active').eq(0).children().trigger('click');
				navli.eq(0).children().trigger('click');
				windowAlter(alertHei);
				/*公共方法*/
				function get_dataHei(obj) {
					var _ = obj;
					if(typeof(_.attr('data-height')) != "undefined" && $.trim(_.attr('data-height')).length > 0 && parseInt($.trim(_.attr('data-height'))) > 100) {
						return parseInt($.trim(_.attr('data-height')));
					} else {
						return 100;
					}
				}

				function alertHei() {
					num_hei = nav.outerHeight();
					num_hei = num_hei * (h / 100);
					con.css({
						'height': num_hei + 'px'
					});
					num_hei = num_hei - parseFloat(con.css('padding-top')) - parseFloat(con.css('padding-bottom'));
					if(con.children('.top').is(':visible')) {
						var iframe_hei = num_hei - con.children('.top').outerHeight(true);
					} else {
						var iframe_hei = num_hei;
					}
					iframe.css({
						'height': iframe_hei + 'px'
					});
				}

				function getIndexing(obj) {
					var i = $.inArray(obj[0], navli);
					return 'go' + (i + 1);
				}

				function windowAlter(fun) {
					fun();
					$(window).resize(fun);
				}

				function imgloadstate(imgs, fun, Time) {
					var ys, boole,
						time = Time || 500,
						img = imgs[0];

					function pd() {
						boole = img.complete;
						if(boole) {
							fun();
							clearTimeout(ys);
						} else {
							ys = setTimeout(pd, time);
						}
					}
					pd();
				}

				/*-------------选项卡（hover切换）----------*/
				tab_hover($('.leftRight .nav'), $('.tab-content'));

				function tab_hover(bt, content) {
					bt.each(function(i, e) {
						var _ = $(e);
						var _c = $(content);
						var _bt = _.children('.tab-bt'),
							_box = _c.children('.tab-box');

						_bt.on('click', function() {
							if(!$(this).hasClass('on')) {
								var j = $(this).data('bt'),
									_img = _box.filter('[data-img=' + j + ']');
								if(_img.length > 0) {
									_bt.removeClass('on');
									$(this).addClass('on');
									_box.stop(true, false).hide().removeClass('on').filter('[data-img=' + j + ']').addClass('on').fadeIn().css("display", "block");
								}
							}
						});
					})
				};
			})
		</script>
	</body>

</html>