<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>后台 --时时彩配置</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>时时彩配置</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="signform" action="{:U('Admin/Site/ssc')}" method="post" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">邀请返利（百分点）</label>
                            <div class="col-sm-6">
                                <input type="text" name="fenxiao" value="{:C('fenxiao')}" placeholder="输入邀请返利点" class="form-control">
                                例如：5即为充1000返利50
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">邀请返利最低充值</label>
                            <div class="col-sm-6">
                                <input type="text" name="fenxiao_min" value="{:C('fenxiao_min')}" placeholder="输入邀请返利最低充值点数" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">时时彩虚拟在线人数</label>
                            <div class="col-sm-6">
                                <input type="text" name="jnd_online" value="{:C('jnd_online')}" placeholder="输入虚拟人数" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">是否开启机器人</label>
                            <div class="col-sm-6">
                                <input type="radio" value="1" <if condition="C('robot') eq 1">checked</if> class="i-checks" name="robot">开启&nbsp;&nbsp;
                                <input type="radio" value="0" <if condition="C('robot') eq 0">checked</if> class="i-checks" name="robot">关闭
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">几秒钟之前停止下注</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_status_off" value="{:C('ssc_status_off')}" placeholder="输入几秒之前停止开奖" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">机器人随机频率（秒）</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_robo_suiji" value="{:C('ssc_robo_suiji')}" placeholder="输入几秒之前停止开奖" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><h3>设置倍率</h3></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">大、小、单、双</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_bl_dxds" value="{:C('ssc_bl_dxds')}" placeholder="输入赔率" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">大单，小单，大双，小双</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_bl_zuhe" value="{:C('ssc_bl_zuhe')}" placeholder="输入赔率" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数字</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_bl_sum" value="{:C('ssc_bl_sum')}" placeholder="输入赔率" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><h3>设定下注金额：</h3></label>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">最低下注金额</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_zuidi" value="{:C('ssc_zuidi')}" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"><h3>单注封顶</h3></label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">大、小、单、双</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_fd_dxds" value="{:C('ssc_fd_dxds')}" placeholder="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">1/大双/100，组合</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_fd_zuhe" value="{:C('ssc_fd_zuhe')}" placeholder="输入" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label"> 1/1/100，数字</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_fd_sum" value="{:C('ssc_fd_sum')}" placeholder="输入" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">总的单局最高</label>
                            <div class="col-sm-6">
                                <input type="text" name="ssc_fd_sum" value="{:C('ssc_djzg')}" placeholder="输入" class="form-control">
                            </div>
                        </div>
                        <span style="color: red;">*赔率为含本赔率  <br><br>** 修改了下注金额限定，请联系服务商，服务器重启worker服务</span>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存信息</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/Admin/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/Common/js/ajaxForm.js"></script>
<script src="__PUBLIC__/Common/layer/layer.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/iCheck/icheck.min.js"></script>
<script>
    $(document).ready(function() {
        $(".i-checks").iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green",
        })
    });
</script>
<script>
    $(function(){
        $('#signform').ajaxForm({
            success: complete,
            dataType: 'json'
        });
        function complete(data){
            if(data.status==1){
                $('.btn-primary').attr('disabled','disabled');
                layer.msg(data.info, function(index){
                    layer.close(index);
                    window.location.href=data.url;
                });
            }else{
                layer.msg(data.info);
                return false;
            }
        }
    });
</script>
</body>

</html>