<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>后台管理</title>

		<meta name="keywords" content="">
		<meta name="description" content="">

		<!--[if lt IE 9]>
	    <meta http-equiv="refresh" content="0;ie.html" />
	    <![endif]-->

		<link rel="shortcut icon" href="favicon.ico">
		<link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	</head>

	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
		
		<div id="wrapper">
			<!--左侧导航开始-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="nav-close"><i class="fa fa-times-circle"></i>
				</div>
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li class="nav-header">
							<div class="dropdown profile-element">
								<span><img alt="image" class="img-circle" src="__PUBLIC__/Admin/img/profile_small.jpg" /></span>
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="clear">
                               			<span class="block m-t-xs"><strong class="font-bold">{$Think.session.admin.username}</strong></span>
									<span class="text-muted text-xs block">超级GM管理员<b class="caret"></b></span>
									</span>
								</a>
								<ul class="dropdown-menu animated fadeInRight m-t-xs">
									<li>
										<a class="J_menuItem" href="{:U('Admin/Index/pwd')}">修改密码</a>
									</li>
									<li>
										<a href="{:U('Admin/Index/del')}">清理缓存</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{:U('Admin/Login/logout')}">安全退出</a>
									</li>
								</ul>
							</div>
							<div class="logo-element">M</div>
						</li>
						<li>
							<a href="{:U('Admin/Index/index')}">
								<i class="fa fa-home"></i>
								<span class="nav-label">主页</span>
							</a>
						</li>
						<li>
							<a class="J_menuItem" href="{:U('Admin/Integral/gonggao')}">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">发布公告</span>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">返水管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/fanshui')}">昨日返水</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/fanshuishezhi')}">返水设置</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">网站管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/index')}">网站设置</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/pk10sd')}">pk10手动开奖</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/jnd28sd')}">加拿大28手动开奖</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/bj28sd')}">北京28手动开奖</a>
								</li>
								
							</ul>
						</li>
						<!--<li>-->
							<!--<a href="#">-->
								<!--<i class="fa fa fa-bar-chart-o"></i>-->
								<!--<span class="nav-label" >pk10配置</span>-->
								<!--<span class="fa arrow"></span>-->
							<!--</a>-->
							<!--<ul class="nav nav-second-level">-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Site/pk10')}">pk10配置</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/index')}">机器人管理</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/add')}">添加机器人</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/kefu')}">微信客服</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/message')}">机器人竞猜</a>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</li>-->

						<li>
							<a href="#">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">北京28配置</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/Bj28')}">北京28配置</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Robot/danindex')}">北京28机器人管理</a>
								</li>
								<li>
								<a class="J_menuItem" href="{:U('Admin/Robot/danadd')}">pc28添加机器人</a>
							</li>
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/kefu')}">微信客服</a>-->
								<!--</li>-->
								<li>
									<a class="J_menuItem" href="{:U('Admin/Robot/danmessage')}">pc28机器人竞猜</a>
								</li>
							</ul>
						</li>
						<!--<li>-->
							<!--<a href="#">-->
								<!--<i class="fa fa fa-bar-chart-o"></i>-->
								<!--<span class="nav-label">时时彩配置</span>-->
								<!--<span class="fa arrow"></span>-->
							<!--</a>-->
							<!--<ul class="nav nav-second-level">-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Site/ssc')}">时时彩配置</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/sscindex')}">时时彩机器人管理</a>-->
								<!--</li>-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/sscadd')}">时时彩添加机器人</a>-->
								<!--</li>-->
								<!--&lt;!&ndash;<li>&ndash;&gt;-->
								<!--&lt;!&ndash;<a class="J_menuItem" href="{:U('Admin/Robot/kefu')}">微信客服</a>&ndash;&gt;-->
								<!--&lt;!&ndash;</li>&ndash;&gt;-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Robot/sscmessage')}">时时彩机器人竞猜</a>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</li>-->
						<li>
							<a href="#">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">加拿大28配置</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a class="J_menuItem" href="{:U('Admin/Site/Jnd28')}">加拿大28配置</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Robot/danindex')}">pc28机器人管理</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Robot/danadd')}">pc28添加机器人</a>
								</li>
								<!--<li>-->
								<!--<a class="J_menuItem" href="{:U('Admin/Robot/kefu')}">微信客服</a>-->
								<!--</li>-->
								<li>
									<a class="J_menuItem" href="{:U('Admin/Robot/danmessage')}">pc28机器人竞猜</a>
								</li>
							</ul>
						</li>
						<!--<li>-->
							<!--<a href="#">-->
								<!--<i class="fa fa fa-bar-chart-o"></i>-->
								<!--<span class="nav-label">快3配置</span>-->
								<!--<span class="fa arrow"></span>-->
							<!--</a>-->
							<!--<ul class="nav nav-second-level">-->
								<!--<li>-->
									<!--<a class="J_menuItem" href="{:U('Admin/Site/kuai3')}">快3配置</a>-->
								<!--</li>-->
							<!--</ul>-->
						<!--</li>-->

						<li>
							<a href="#">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">会员管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a class="J_menuItem" href="{:U('Admin/Member/index')}">会员管理</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">流水管理</span>
								<span class="fa arrow"></span>
							</a>
							<ul class="nav nav-second-level">
								<li>
									<a class="J_menuItem" href="{:U('Admin/Order/index')}">竞猜流水</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Order/win_lose')}">平台输赢</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Order/user_win_lose')}">客户输赢</a>
								</li>
								<li>
									<a class="J_menuItem" href="{:U('Admin/Integral/lists')}">上下分流水</a>
								</li>
							</ul>
						</li>
                
                      </ul>
				</div>
			</nav>
			<!--左侧导航结束-->

			<!--右侧部分开始-->
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row border-bottom">
					<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header" style="width: 10%;">
							<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
						</div>
					</nav>
				</div>

				<div class="row content-tabs">
					<button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
					<nav class="page-tabs J_menuTabs">
						<div class="page-tabs-content">
							<a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
						</div>
					</nav>
					<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i></button>
					<div class="btn-group roll-nav roll-right">
						<button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu dropdown-menu-right">
							<li class="J_tabShowActive">
								<a>定位当前选项卡</a>
							</li>
							<li class="divider"></li>
							<li class="J_tabCloseAll">
								<a>关闭全部选项卡</a>
							</li>
							<li class="J_tabCloseOther">
								<a>关闭其他选项卡</a>
							</li>
						</ul>
					</div>
					<a href="{:U('Admin/Login/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
				</div>
				<div class="row J_mainContent" id="content-main">
					<iframe id="iframe_default" src="{:U('Admin/Order/index')}" class="J_iframe" name="iframe0" width="100%" height="100%" frameborder="0" data-id="default" seamless></iframe>
				</div>
				<div class="footer">
					<div class="pull-right">&copy; 2017-2027
						<a href="" target="_blank">ttyl188.com</a>
					</div>
				</div>
			</div>
			<!--右侧部分结束-->
			
		</div>

		<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
		<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="__PUBLIC__/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
		<script src="__PUBLIC__/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
		<script src="__PUBLIC__/Admin/js/hplus.min.js?v=4.1.0"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/contabs.min.js"></script>
		<script src="__PUBLIC__/Admin/js/plugins/pace/pace.min.js"></script>
	</body>

</html>