*{
    margin: 0;
    padding:0;
}
html,body{
    background:#F4F4F4 none repeat scroll 0 0;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    font-size: 3rem;
    margin: auto;
  /*  max-width: 640px;*/
    height:100%;
}
#zhong{
    background:url("../images/bg.png");
    position: absolute;

    height: 100%;
}
.modal1{
    padding: 0.2rem;
    width:100%;
    float: left;
    margin-top: 1rem;
}
.modal1 a img{
    width:100%;
}
.modal2{
    padding: 0.2rem;
    width:100%;
    float: left;
    margin-top: 1rem;
}
.modal2 a img{
    width:100%;
}
