<!DOCTYPE html>
<html id="iframe">
<head>
	<meta charset="UTF-8">

	<title>{:C('sitename')}</title>
	<meta name="keywords" content="{:C('keyword')}">
	<meta name="description" content="{:C('content')}">

	<meta name="renderer" content="webkit">
	<meta name="format-detection" content="telephone=no,email=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
	<meta name="telephone=no"  content="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no" />

	<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="0">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/lib.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/page.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/menu/Font-Awesome-3.2.1/css/font-awesome.css">

</head>
<style>
	.content p{
		display: inline-block;
	}
</style>

<body onload="connect();">
<div class="main-box" style="

  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99;


">
<!--第一行（表单、积分在线人数）-->
	<div style=" width: 100%;height: 28px;border-bottom: 1px solid #d6d6d6;position: relative;color: #656565;margin-bottom: 0px;">
		<table width="100%" style="text-align: center">
			<tr>
				<td style="width: 20%">
					<span><img src="__PUBLIC__/Home/img/image/id.png" style="width: 18px;height: 18px;"></span><span style="font-size: 13px;line-height:19px;margin-left:10px;position: relative"><span style="position: absolute;" id=>{$userinfo.id}</span></span>
				</td>
				<td style="width: 30%">
					<span><img src="__PUBLIC__/Home/img/image/jine.png" style="width: 18px;height: 18px;"></span><span style="font-size: 13px;line-height:19px;margin-left:10px; position: relative;"><span style="position: absolute;" id="sy">{$userinfo.points}</span></span>
				</td>
				<td style="width: 25%">
					<span><img src="__PUBLIC__/Home/img/image/renshu.png" style="width: 18px;height: 18px;position: relative;"><span style="position: absolute;" id="xs"></span></span>
				</td>
				<td style="width: 25%">
					<a href="{:U('home/Jnd28/shangxiafen')}">
						<div style="display: inline;width: 67px"><img src="__PUBLIC__/Home/img/image/sx.png" style="width: 18px;height: 18px;"></span>
							<span style="height: 18px;line-height:18px;margin-left:10px;font-size: 10px">上下分</span>
						</div>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<!--<div class="info">-->
		<!--<p>剩余点数：<span id="sy">{$userinfo.points}</span>点</p>-->
		<!--<p>线上人数：<span id="xs"></span>人</p>-->
	<!--</div>-->
</div>
<div id="load" style="text-align: center;font-size: 14px;">加载中...</div>

<!--聊天記錄開始-->
<div class="chatting" style="
  width: 100%;
  position: absolute;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;   /*这句是为了滑动更顺畅*/
  margin-top: 71px;
">
	<volist name="list" id="vo">
		<if condition="$vo['type'] eq 'admin'">
			<div <if condition="$vo.uid eq $userinfo['id']">class="chatting-li qtr green"<else/>class="chatting-li qtr orange"  style="margin-left: 14%;width: 86%"</if> >
			<div class="portrait"><img src="{$vo.head_img_url}"/></div>
			<div class="content">
				<small><span class="name">{$vo.from_client_name}</span><time>{$vo.time}</time></small>
				<p>{$vo.content|htmlspecialchars_decode|stripcslashes}</p>
			</div>
</div>
</if>
<if condition="$vo['type'] eq 'system'">
	<div class="chatting-li qtr pink">
		<div class="portrait"><img src="{$vo.head_img_url}"/></div>
		<div class="content">
			<small><span class="name">{$vo.from_client_name}</span><time>{$vo.time}</time></small>
			<p>{$vo.content|htmlspecialchars_decode|stripcslashes}。</p>
		</div>
	</div>
</if>
<if condition="$vo['type'] eq 'say'">
	<div <if condition="$vo.uid eq $userinfo['id']">class="chatting-li green" style="width:86%;margin:0 0 0 14%;"<else/>class="chatting-li"</if> >
	<div class="portrait"><img src="{$vo.head_img_url}"/></div>
	<div class="content">
		<small><span class="name">{$vo.from_client_name}</span><time>{$vo.time}</time></small>
		<p>{$vo.content|htmlspecialchars_decode|stripcslashes}</p>
	</div>
	</div>
</if>
<if condition="$vo['type'] eq 'error' && $userinfo['id'] eq $vo['uid']">
	<div class="chatting-li qtr green" style="margin-left: 14%;width: 86%">
		<div class="portrait"><img src="{$vo.head_img_url}"/></div>
		<div class="content">
			<small><span class="name">{$vo.from_client_name}</span><time>{$vo.time}</time></small>
			<p>{$vo.content|htmlspecialchars_decode|stripcslashes}</p>
		</div>
	</div>
</if>
<if condition="$vo['type'] eq 'say_error' && $userinfo['id'] eq $vo['uid']">
	<div class="chatting-li green" style="margin-left: 14%;width: 86%">
		<div class="portrait"><img src="{$vo.head_img_url}"/></div>
		<div class="content">
			<small><span class="name">{$vo.from_client_name}</span><time>{$vo.time}</time></small>
			<p>{$vo.content|htmlspecialchars_decode|stripcslashes}</p>
		</div>
	</div>
</if>
</volist>
	</div>
<!--聊天記錄結束-->
<div class="top"style="
    width: 100%;
    position: absolute;
    top: 27px;
    left: 0;
    background: #fff;
    padding-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #e6e6e6;
    z-index: 99;
    border-top: 1px solid #e6e6e6;
"
>
	<input onclick="inputsr()" id="textarea" type="text" required style="
	       width: 80%;
	       margin: 0 12% 0;
	   border: 0px;
    "placeholder="例：大/50 、大双/50" />
	<!--<button onclick="onSubmit(); return false;" style="-->
	<!--background-color: #569660;-->
    <!--height: 28px;-->
    <!--line-height: 18px;-->
  	<!--width: 15%;-->

       <!-- -webkit-border-radius: 5px;-moz-border-radius:5px ;border-radius: 5px;-->
    <!--border: 1px solid #ffffff;-->
    <!--color: white;">发送</button>-->
</div>

<!--投注框  默认隐藏-->
<div id="Betting-box" style="display:none;position:relative;z-index:23424;"></div>
<!--投注框点击隐藏-->
<div style="width: 100%;height: 700px;position:relative;top:0px;z-index:1" onclick="inputsr2()"></div>
<script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
<script>
    //	点击投注table外 隐藏
    function inputsr2(){
        $("#Betting-box").css('display','none');
        $("#textarea").val('');
    }
    //	投注列表显示
    function inputsr() {
//		点击显示
        $("#Betting-box").css('display','block');
//		建立一个投注数组
        var arr=['大','小','单','双','极大','大单','小单','大双','小双','极小'];
        var d=0;

        for(var j=0;j<=24;j++){
            arr.push(j);
        }
        arr.push("&nbsp;",'25','26','27',"&nbsp;");
//		建立一个投注数组完成

//      建立一个倍数数组
//					大，小，单，双，极大
        var add=[ '1:2','1:2','1:2','1:2','1:15',
//				大单，小单， 大双，小双 ，极小
            '1:4.2','1:4.6','1:4.6','1:4.2','1:15',
//				0-4
            '1.288','1.208','1.88','1.58','1.38',
//				5-9
            '1:28','1:13','1:13','1:13','1:13',
//				10-14
            '1:13','1:13','1:12','1:12','1:12',
//				15-19
            '1:12','1:13','1:13','1:13','1:13',
//				20-24
            '1:13','1:13','1:28','1:38','1:58',
//				25-27
            "&nbsp;",'1:88','1:208','1:288','&nbsp;'
        ];
//      建立一个倍数数组完成


        var tzxz='投注选择';
        var quedingtouzhu='投注';
        var qingtouzhu='投注金额:';
//建立表格 把投注 倍数添加进去
        var htmlstr=
            "<div style='background:#367AE7;width:85%;height:20px;text-align:center;font-size:0.8em;color: white;margin:30px 12% 0;'>"+tzxz+"</div>"+
            "<div style='margin:0 12%;;width:85%;height:130px;overflow-y:auto;background: #367AE7;'>"+
            "<table style='width:100%;'>";
        for(i=1;i<=8;i++){
            htmlstr+="<tr style='height:2.5em;line-height:2.5em'>";
            for(j=1;j<=5;j++){
                htmlstr+="<td style='width:20%;text-align: center;height:2.5em'>"+"<table style='width: 100%;' class='tabletzh' onclick='betting(this)'>"+
                    "<tr style='width:20%;height:1.25em'>"+
                    //投注选择
                    "<td class='tzhtml' style='width:100%;text-align: center;font-size:1.3em;color: white;'>"+arr[d]+"</td>"+
                    "</tr>"+"<tr style='width:20%;height:1.25em'>"+
                    //倍数详情
                    "<td  style='font-size:0.5em;width:100%;text-align: center;color: white;'>"+add[d]+"</td>"+
                    "</tr>"+
                    "</table>"+"</td>";
                d++;
            }
            htmlstr+="</tr>";
        }

        htmlstr+="</table>"+"</div>"+
            "<div    style='background:#367AE7;width:85%;height:30px;;margin:0 12%;'>"+
            "<div  style='background:#367AE7;'>"+
            "<span style='color:white;background:#367AE7;height:20px;line-height:20px;margin:0 3% 0 3%;float: left;'>"+qingtouzhu+"</span>"+
            "<input onblur='xuanzhi()' style='width:54%;height:25px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius: 5px;float: left;' id='tzjine' type='number'placeholder='请输入投注金额'>"+
            "<button style='background:yellow;width:13%;height:25px;margin:0 3%;-webkit-border-radius: 5px;-moz-border-radius:5px;border-radius: 5px;float: left;' onclick='onSubmit(); return false;'>"+quedingtouzhu+"</button>"+
            "</div>"+
            "<div>"+"</div>";
        $('#Betting-box').html(htmlstr);
    }
    //投注赋值
    var $text
    function betting(obj) {
//		选中的注
        $(".tabletzh").css("border","none");
        $(obj).css("border","1px red solid");
//		取得td的值
        var tdnum=$(obj).find(".tzhtml").html();
//		取得投注金额的值
        $text=tdnum;
        $(tzjine).val('');
        $("#textarea").val('');
    }
    function xuanzhi(){
        var a=$text;
        var b='/';
        var c=$("#tzjine").val();
        $("#textarea").val(a+b+c);
    }
</script>


<!--聊天-->
<script type="text/javascript" src="__PUBLIC__/worker/js/swfobject.js"></script>
<script type="text/javascript" src="__PUBLIC__/worker/js/web_socket.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript">
	setTimeout(function() {
		$('#load').css('display','none');
		$('.chatting').css('display','block');
	}, 1500);

	document.onkeydown=function(event){
		e = event ? event :(window.event ? window.event : null);
		if(e.keyCode==13){
			onSubmit(); return false;
		}
	}

	if(typeof console == "undefined") {
		this.console = {
			log: function(msg) {}
		};
	}

	WEB_SOCKET_DEBUG = true;
	var ws, name;
	// 连接服务端

	function connect(){
		// 创建websocket

		ws = new WebSocket("ws://" + document.domain + ":7274");

		// 当socket连接打开时，发送登录信息
		ws.onopen = function(){
			var name = "{$userinfo.nickname}";
			// 登录
			var userid = "{$userinfo.id}";
			var login_data = '{"type":"login_bj28","client_name":"' + name.replace(/"/g, '\\"') + '","client_id":"'+userid+'"}';
			console.log("websocket握手成功，发送登录数据7274:" + login_data);
			ws.send(login_data);
		};
		// 当有消息时根据消息类型显示不同信息
		ws.onmessage = onmessage;
		ws.onclose = function(){
			console.log("连接关闭，定时重连");
			connect();
		};
		ws.onerror = function() {
			console.log("出现错误");
			connect();
		};
	}
	// 服务端发来消息时
	var inte = parseInt(Math.random()*12+1);
	function onmessage(e) {
		var data = eval("(" + e.data + ")");
		switch(data['type']) {
				// 服务端ping客户端
			case 'ping':
				$('#xs').html(data.content+{:C('jnd_online')});
		ws.send('{"type":"pong"}');
		inte--;
		if(inte==0){
			ws.send('{"type":"robo"}');
			inte = parseInt(Math.random()*35+1)+3;
		}
		break;
		// 登录 更新用户列表
	case 'login':
		console.log(data['client_name'] + "登录成功");
		break;
		// 发言
	case 'say':
	    if (data['send_type'] ==='bj28'){
            say(data['uid'],data['from_client_name'], data['head_img_url'], data['content'], data['time']);
		}

		break;
		// 用户退出 更新用户列表
	case 'logout':
		break;
	case 'broadcast':
		//alert('client');

		//房管
	case 'admin':
	    if (data['send_type'] === 'bj28'){
            if('{$userinfo.id}'==data['uid']){
                $(".chatting").prepend('<div class="chatting-li qtr green" style="margin-left: 14%;width: 86%"><div class="portrait"><img src="'+data['head_img_url']+'"/></div><div class="content"><small><span class="name">' + data["from_client_name"] +'</span><time>'+data["time"] +'</time></small><p>' + data["content"] + '</p></div></div>');
            }else{
                $(".chatting").prepend('<div class="chatting-li qtr orange"  style="margin-left: 14%;width: 86%"><div class="portrait"><img src="'+data['head_img_url']+'"/></div><div class="content"><small><span class="name">' + data["from_client_name"] +'</span><time>'+data["time"] +'</time></small><p>' + data["content"] + '</p></div></div>');
            }
		}

		break;
		//系统
	case 'system':
		if('{$userinfo.id}'==data['uid']){
			$(".chatting").prepend('<div class="chatting-li qtr green"  style="margin-left: 14%;width: 86%"><div class="portrait"><img src="'+data['head_img_url']+'"/></div><div class="content"><small><span class="name">' + data["from_client_name"] +'</span><time>'+data["time"] +'</time></small><p>' + data["content"] + '</p></div></div>');
		}else{
			$(".chatting").prepend('<div class="chatting-li qtr orange"  style="margin-left: 14%;width: 86%"><div class="portrait"><img src="'+data['head_img_url']+'"/></div><div class="content"><small><span class="name">' + data["from_client_name"] +'</span><time>'+data["time"] +'</time></small><p>' + data["content"] + '</p></div></div>');
		}
		break;
		//积分减
	case 'points':
		$('#sy').html((parseFloat($('#sy').html())-data['content']).toFixed(1));
		break;
		//积分加
	case 'pointsadd':
		$('#sy').html((parseFloat($('#sy').html())+data['points']).toFixed(1));
		parent.layer.msg('恭喜竞猜成功');
		break;
		//重载
	case 'reload':
		if('{$userinfo.id}'==9){
			window.location.href=window.location.href;
		}
		break;
		//切换
	case 'switch':
		parent.location.reload();
		break;
	}
	}

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
        var r = window.location.search.substr(1).match(reg);
        if (r!=null) return (r[2]); return null;
    }
    // 提交对话
	function onSubmit() {

        //	    投注框关闭
        $("#Betting-box").css('display','none');

        var headimgurl = '{$userinfo.headimgurl}';
		var input = document.getElementById("textarea");
		var from_client_name = '{$userinfo.nickname}';
        //		房间
        var room = '{$room}';
		console.log(room);
        if(input.value==''){
			$('#textarea').focus();
			return false;
		}
//		ws.send('{"type":"say_bj28","room":"'+room+'","client_name":"'+from_client_name+'","headimgurl":"'+headimgurl+'","content":"' + input.value.replace(/"/g, '\\"').replace(/\n/g, '\\n').replace(/\r/g, '\\r') + '"}');
        ws.send('{"type":"say_bj28","client_name":"'+from_client_name+'","headimgurl":"'+headimgurl+'","content":"' + input.value.replace(/"/g, '\\"').replace(/\n/g, '\\n').replace(/\r/g, '\\r') + '","room":"'+room+'"}');
		$('#textarea').val('').focus();
//		刷新页面
		window.location.reload();
        //$('#dialog').scrollTop(0);
	}
	// 发言
	function say(uid, from_client_name, head_img_url, content, time) {
		if('{$userinfo.id}'==uid){
			$(".chatting").prepend('<div class="chatting-li green"  style="margin-left: 14%;width: 86%"><div class="portrait"><img src="'+head_img_url+'"/></div><div class="content"><small><span class="name">' + from_client_name +'</span><time>'+time +'</time></small><p>' + content + '</p></div></div>');
		}else{
			$(".chatting").prepend('<div class="chatting-li"  style="margin-left: 14%;width: 86%"><div class="portrait"><img src="'+head_img_url+'"/></div><div class="content"><small><span class="name">' + from_client_name +'</span><time>'+time +'</time></small><p>' + content + '</p></div></div>');
		}
	}
</script>
<!--聊天-->

<!--推送-->
<script src='//cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
<script>
	var uid = '{$userinfo.id}';
</script>
<script>
	function escape2Html(str) {
		var arrEntities={'lt':'<','gt':'>','nbsp':' ','amp':'&','quot':'"'};
		return str.replace(/&(lt|gt|nbsp|amp|quot);/ig,function(all,t){return arrEntities[t];});
	}
	$(document).ready(function() {
		// 连接服务端
		var socket = io('http://' + document.domain + ':2123');
		// 连接后登录
		socket.on('connect', function() {
			socket.emit('login', uid);
		});
		// 后端推送来消息时
		socket.on('new_msg', function(msg) {
			var data = eval("(" + escape2Html(msg) + ")");
			console.log(escape2Html(msg));
			var time = data['time'];
			var content = data['content'];
			if(data['points'] && data['to']=='{$userinfo.id}'){
				var points = parseFloat($('#sy').html())+parseFloat(data['points']);
				$('#sy').html(points);
			}
			$(".chatting").prepend('<div class="chatting-li qtr pink"  style="margin-left: 14%;width: 86%"><div class="portrait"><img src="/Public/main/img/system.jpg"/></div><div class="content"><small><span class="name">客服</span><time>'+time+'</time></small><p>' + content + '</p></div></div>');
		});
	});
</script>
<!--推送-->
</body>
</html>
